app-name: "Salesforce to Apifon messaging service"

# this section describes the server logic provided by the application
# it consists of server and its endpoints definitions
servers:
  # a name of the server inside the application
  my-http-server:
    hosts:
      - ${ACCEPT_HOST:"127.0.0.1"}
    port: ${PORT:8080}
    protocol: "http"
    endpoints:

      # this endpoint receives the messaging requests from Salesforce
      messaging:
        location: "/message"
        methods:
          post:
            handler: "receiveSalesForceEvent"

      # this stub represents the imitation of an Apifon instant messaging service
      stub:
        location: "/services/api/v1/im"
        methods:
          post:
            handler: "apifonIMRequestStub"

# this section describes the usage of external resources
# by defining the endpoints to call and how to handle the results
clients:
  apifon:
    type: "web"
    url:  ${EXT_SERVICE_URL:"http://localhost/services/api/v1/im/"}
    port: ${PORT:8080} #${EXT_SERVICE_PORT:8080}
    methods:
      post:
        input: "apifonMessageRequest"
        success: "onApifonSendResult"
        fail: "onApifonSendError"

